@charset "UTF-8";
@font-face {
  font-family: 'ALS Alumna';
  src: url("../fonts/ALS_Alumna.eot");
  src: local("☺"), url("../fonts/ALS_Alumna.woff") format("woff"), url("../fonts/ALS_Alumna.ttf") format("truetype"), url("../fonts/ALS_Alumna.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url("../fonts/MuseoSansCyrl.eot");
  src: local("☺"), url("../fonts/MuseoSansCyrl.woff") format("woff"), url("../fonts/MuseoSansCyrl.ttf") format("truetype"), url("../fonts/MuseoSansCyrl.svg") format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url("../fonts/museo_sans_cyrl_300.eot");
  src: local("☺"), url("../fonts/museo_sans_cyrl_300.woff") format("woff"), url("../fonts/museo_sans_cyrl_300.ttf") format("truetype"), url("../fonts/museo_sans_cyrl_300.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url("../fonts/museo_sans_cyrl_500.eot");
  src: local("☺"), url("../fonts/museo_sans_cyrl_500.woff") format("woff"), url("../fonts/museo_sans_cyrl_500.ttf") format("truetype"), url("../fonts/museo_sans_cyrl_500.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url("../fonts/MuseoSansCyrl_700.eot");
  src: local("☺"), url("../fonts/MuseoSansCyrl_700.woff") format("woff"), url("../fonts/MuseoSansCyrl_700.ttf") format("truetype"), url("../fonts/MuseoSansCyrl_700.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url("../fonts/MuseoSansCyrl_900.eot");
  src: local("☺"), url("../fonts/MuseoSansCyrl_900.woff") format("woff"), url("../fonts/MuseoSansCyrl_900.ttf") format("truetype"), url("../fonts/MuseoSansCyrl_900.svg") format("svg");
  font-weight: 900;
  font-style: normal;
}

/*==Mixins==*/
/*==Variables==*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  font-family: 'ALS Alumna', sans-serif;
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-size: 16px;
  line-height: 130%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #000000;
  min-width: 1340px;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 42px;
  line-height: 1.25;
  font-family: 'ALS Alumna', sans-serif;
  margin: 0;
}

.invisible {
  visibility: hidden;
}

.center-container {
  width: 1138px;
  margin: 0 auto;
}

.gold-btn {
  font-family: 'Museo Sans Cyrl', sans-serif;
  padding: 20px 33px;
  background: linear-gradient(251.94deg, #DBB972 14.36%, #F3D28E 51.49%, #DBB972 91.31%);
  border-radius: 30px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.gold-btn:hover,
.gold-btn :focus {
  background: linear-gradient(80deg, #F3D28E 14.36%, #DBB972 51.49%, #DBB972 91.31%);
  -webkit-box-shadow: 0px 4px 30px rgba(219, 185, 114, 0.6);
          box-shadow: 0px 4px 30px rgba(219, 185, 114, 0.6);
}

.gold-btn:active {
  -webkit-box-shadow: inset 0px 4px 30px -1px rgba(0, 0, 0, 0.6);
          box-shadow: inset 0px 4px 30px -1px rgba(0, 0, 0, 0.6);
}

.gallery_slider-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 69px;
  height: 6px;
  margin-top: 60px;
  margin-left: 60px;
}

.gallery_slider-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 115px;
  height: 55px;
  margin-left: 600px;
  margin-top: -22px;
  position: relative;
}

.gallery_slider-arrows::after {
  content: "";
  width: 105px;
  height: 62px;
  background-color: #FFFFFF;
  position: absolute;
  top: 0;
  left: 120px;
}

.gallery_slider-arrows .arrow-backward {
  background-color: #FFFFFF;
  width: 55px;
  height: 55px;
  position: relative;
  opacity: 1;
}

.gallery_slider-arrows .arrow-backward:hover::before {
  opacity: 1;
}

.gallery_slider-arrows .arrow-backward:focus::before {
  opacity: 1;
}

.gallery_slider-arrows .arrow-backward::before {
  content: "";
  width: 55px;
  height: 55px;
  background-image: url(../img/arrow-backward-black.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
}

.gallery_slider-arrows .arrow-forward {
  background-color: #FFFFFF;
  width: 55px;
  height: 55px;
  position: relative;
  opacity: 1;
}

.gallery_slider-arrows .arrow-forward:hover::before {
  opacity: 1;
}

.gallery_slider-arrows .arrow-forward:focus::before {
  opacity: 1;
}

.gallery_slider-arrows .arrow-forward::before {
  content: "";
  width: 55px;
  height: 55px;
  background-image: url(../img/arrow-forward_black.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
}

.main-header {
  margin: 0 auto;
}

.top-line {
  top: 0;
  height: 100px;
  width: 100%;
  position: fixed;
  background-color: #FFFFFF;
  font-family: 'Museo Sans Cyrl', sans-serif;
  z-index: 100;
}

.top-line__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1238px;
  height: 100px;
  margin: 0 auto;
}

.top-logo {
  display: block;
}

.nav-menu {
  margin-left: 12px;
}

.nav-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px 37px auto;
  width: 373px;
  height: 23px;
  line-height: 19px;
}

.nav-menu__list a {
  color: rgba(0, 0, 0, 0.7);
}

.nav-menu__list a:hover {
  color: #DBB972;
}

.contact-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 27px;
}

.contact-tel {
  padding: 13px 0 9px;
  height: 23px;
  width: 151px;
  color: #000000;
  position: relative;
}

.contact-tel::before {
  content: '';
  position: absolute;
  top: 15px;
  left: -20px;
  width: 13px;
  height: 13px;
  background-image: url(../img/tel.svg);
}

.contact-whatsapp {
  height: 23px;
  width: 23px;
  background-image: url(../img/whatsapp.svg);
  margin-top: 10px;
}

.contact-telegram {
  height: 23px;
  width: 23px;
  background-image: url(../img/telegram.svg);
  margin-left: 12px;
  margin-top: 10px;
}

.signup-btn {
  display: block;
  outline: none;
  padding: 15px 20px;
  margin-top: 25px;
  border: 0;
  background: linear-gradient(257.69deg, #DBB972 14.36%, #F3D28E 51.49%, #DBB972 91.31%);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 22.5px;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.signup-btn:hover,
.signup-btn :focus {
  background: linear-gradient(80deg, #F3D28E 14.36%, #DBB972 51.49%, #DBB972 91.31%);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.signup-btn:active {
  -webkit-box-shadow: inset 0px 4px 4px -1px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px 4px 4px -1px rgba(0, 0, 0, 0.1);
}

.menu-icon-wrapper {
  width: 16px;
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 38px;
}

.menu-icon {
  position: relative;
  width: 16px;
  height: 2px;
  background-color: #000000;
}

.menu-icon::before {
  position: absolute;
  left: 0;
  top: -5px;
  content: '';
  width: 16px;
  height: 2px;
  background-color: #000000;
  -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
}

.menu-icon::after {
  position: absolute;
  left: 0;
  top: 5px;
  content: '';
  width: 16px;
  height: 2px;
  background-color: #000000;
  -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
}

.menu-icon.menu-icon-active {
  background-color: transparent;
}

.menu-icon.menu-icon-active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
}

.menu-icon.menu-icon-active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
}

.main-screen {
  margin-top: 100px;
  height: 817px;
  background-image: url(../img/header-bg.jpg);
  background-size: cover;
  background-position: center;
  color: #FFFFFF;
  position: relative;
}

.main__big-txt {
  font-family: 'ALS Alumna', sans-serif;
  position: absolute;
  width: 688px;
  height: 190px;
  left: 110px;
  top: 150px;
  font-size: 62px;
  line-height: 71px;
  margin-bottom: 46px;
}

.main__big-txt span {
  color: #DBB972;
}

.main__small-txt {
  font-family: 'Museo Sans Cyrl', sans-serif;
  position: absolute;
  width: 334px;
  height: 52px;
  left: 110px;
  top: 445px;
  font-weight: 100;
  font-size: 18px;
  line-height: 24px;
  opacity: 0.7;
}

.btn-discount {
  font-family: 'Museo Sans Cyrl', sans-serif;
  border: 0;
  outline: none;
  position: absolute;
  left: 100px;
  top: 560px;
  padding: 20px 33px;
  background: linear-gradient(251.94deg, #DBB972 14.36%, #F3D28E 51.49%, #DBB972 91.31%);
  border-radius: 30px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.btn-discount:hover,
.btn-discount :focus {
  background: linear-gradient(80deg, #F3D28E 14.36%, #DBB972 51.49%, #DBB972 91.31%);
  -webkit-box-shadow: 0px 4px 30px rgba(219, 185, 114, 0.6);
          box-shadow: 0px 4px 30px rgba(219, 185, 114, 0.6);
}

.btn-discount:active {
  -webkit-box-shadow: inset 0px 4px 30px -1px rgba(0, 0, 0, 0.6);
          box-shadow: inset 0px 4px 30px -1px rgba(0, 0, 0, 0.6);
}

.benifits {
  padding-top: 64px;
  padding-bottom: 47px;
  border-bottom: 2px solid #000000;
}

.benifits-container {
  width: 1085px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benifits-item {
  width: 320px;
}

.item-header {
  font-family: 'ALS Alumna', sans-serif;
  font-size: 26px;
  line-height: 1.25;
  margin-top: 20px;
}

.item-text {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.3;
}

.works {
  padding-top: 40px;
  padding-bottom: 69px;
  text-align: center;
}

.works h2 {
  position: relative;
}

.works h2::after {
  position: absolute;
  content: "";
  width: 31px;
  height: 5px;
  background-image: url(../img/decorative-dots.svg);
  top: 95px;
  left: 550px;
}

.works img {
  width: 369px;
  height: 371px;
  margin: 7px;
}

.works-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding-top: 65px;
}

.works-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.works-column:nth-child(1) {
  margin-left: -7px;
}

.works-column:nth-child(2) {
  margin-top: 42px;
}

.works-column:nth-child(3) {
  margin-top: 95px;
  margin-right: -7px;
}

.works-show_more_btn {
  position: relative;
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: inline-block;
  padding: 20px 51px 20px 25px;
  margin: 5px auto 0;
  color: #333333;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

.works-show_more_btn::after {
  content: "";
  position: absolute;
  top: 24px;
  right: 23px;
  width: 17px;
  height: 15px;
  background-image: url(../img/round_arrows.svg);
}

.works-show_more_btn:hover, .works-show_more_btn :focus {
  -webkit-box-shadow: inset 0px 4px 30px -1px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px 4px 30px -1px rgba(0, 0, 0, 0.1);
}

.promo {
  padding-top: 36px;
  padding-bottom: 42px;
  color: #FFFFFF;
  background-image: url(../img/promo_bg.jpg);
  text-align: center;
}

.promo h2 {
  position: relative;
}

.promo h2::after {
  position: absolute;
  content: "";
  width: 31px;
  height: 5px;
  background-image: url(../img/decorative-dots.svg);
  top: 85px;
  left: 553px;
}

.promo-wrapper {
  margin-top: 75px;
  margin-bottom: 37px;
  font-family: 'Museo Sans Cyrl', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000000;
}

.promo-item {
  position: relative;
  width: 368px;
  height: 564px;
  margin-right: 16px;
  background-image: url(../img/promo-item_bg.svg);
  background-size: 110%;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px;
}

.promo-item:nth-child(3) {
  margin-right: -16px;
}

.promo-pic img {
  position: relative;
  width: 331px;
  height: 256px;
}

.promo-sticker {
  position: absolute;
  top: 37px;
  left: 40px;
}

.promo-header {
  position: relative;
  display: inline-block;
  font-size: 20px;
  line-height: 1.3;
  font-weight: 400;
  opacity: 0.8;
  margin-top: 7px;
  margin-left: 4px;
}

.promo-header::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 2px;
  background-color: #DBB972;
  top: 40px;
  left: 90px;
}

.promo-text {
  margin-top: 3px;
  font-size: 14px;
  line-height: 1.3;
  font-weight: 300;
  opacity: 0.8;
  width: 295px;
}

.promo-price {
  font-size: 20px;
  line-height: 1.3;
  opacity: 0.8;
  margin-left: -5px;
}

.promo-price::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 25px;
  background-image: url(../img/₽.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 6px;
}

.promo .old-price {
  color: #ABABAB;
  font-size: 20px;
  line-height: 1.3;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  opacity: 0.8;
}

.promo .old-price::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 25px;
  background-image: url(../img/Old-ruble.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 6px;
}

.promo .price-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 130px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.promo-about_btn {
  position: absolute;
  top: 450px;
  left: 75px;
  background-color: #f8f8f8;
  color: #565656;
  padding: 20px 30px;
  border-radius: 30px;
}

.promo-about_btn:hover,
.promo-about_btn :focus {
  -webkit-box-shadow: inset 0px 4px 30px -1px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px 4px 30px -1px rgba(0, 0, 0, 0.1);
}

.promo-btn {
  position: absolute;
  top: 525px;
  left: 75px;
  padding: 20px 30px;
  background: linear-gradient(251.94deg, #DBB972 14.36%, #F3D28E 51.49%, #DBB972 91.31%);
  border-radius: 30px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.promo-btn:hover,
.promo-btn :focus {
  background: linear-gradient(80deg, #F3D28E 14.36%, #DBB972 51.49%, #DBB972 91.31%);
  -webkit-box-shadow: 0px 4px 30px rgba(219, 185, 114, 0.6);
          box-shadow: 0px 4px 30px rgba(219, 185, 114, 0.6);
}

.promo-btn:active {
  -webkit-box-shadow: inset 0px 4px 30px -1px rgba(0, 0, 0, 0.6);
          box-shadow: inset 0px 4px 30px -1px rgba(0, 0, 0, 0.6);
}

.promo .promo-2 .promo-header::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 2px;
  background-color: #DBB972;
  top: 40px;
  left: 145px;
}

.promo .promo-3 .promo-header::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 2px;
  background-color: #DBB972;
  top: 35px;
  left: 100px;
}

.promo_slider-controls {
  margin-top: 55px;
}

.promo_slider-arrows {
  margin: 15px auto 42px;
  width: 179px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.promo_slider-dots {
  width: 58px;
  height: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -52px;
  margin-left: 540px;
}

.arrow-backward {
  background-image: url(../img/arrow-backward-white.svg);
  background-repeat: no-repeat;
  width: 18px;
  height: 13px;
  opacity: 0.5;
}

.arrow-backward:hover,
.arrow-backward :focus {
  opacity: 1;
}

.arrow-forward {
  background-image: url(../img/arrow-forward-white.svg);
  background-repeat: no-repeat;
  width: 18px;
  height: 13px;
  opacity: 0.5;
}

.arrow-forward:hover,
.arrow-forward :focus {
  opacity: 1;
}

.slider-dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #AFAFAF;
  opacity: 0.3;
}

.slider-dot:hover,
.slider-dot :focus {
  opacity: 0.5;
}

.active-dot {
  background-color: #DBB972;
  opacity: 1;
}

.salons {
  padding-top: 37px;
  height: 743px;
  background-image: url(../img/salons_bg2.jpg);
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
}

.salons-header {
  position: relative;
}

.salons-header::after {
  position: absolute;
  content: "";
  width: 31px;
  height: 5px;
  background-image: url(../img/decorative-dots.svg);
  top: 92px;
  left: 0;
}

.salons-text {
  margin-top: 83px;
  margin-bottom: 355px;
  width: 367px;
  height: 112px;
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.35;
}

.salons span {
  position: relative;
  display: inline-block;
  font-family: 'ALS Alumna', sans-serif;
  font-size: 24px;
  line-height: 1.25;
  width: 340px;
}

.salons span::before {
  content: "";
  width: 48px;
  height: 81px;
  background-image: url(../img/salons-quotes.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: -49px;
  left: 0;
}

.salons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.salons .gallery-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  color: #333333;
  opacity: 0.7;
  width: 520px;
  height: 68px;
  margin-top: 24px;
  margin-left: 200px;
}

.salons .header-item {
  position: relative;
  border-bottom: 1px solid #F0F0F0;
}

.salons .header-item:not(:first-child) {
  padding-left: 44px;
}

.salons .header-item:not(:first-child)::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 9px;
  background-image: url(../img/metro-logo.svg);
  margin-top: 5px;
  margin-left: -19px;
}

.salons .header-item:first-child {
  padding-left: 3px;
}

.salons .active {
  font-weight: 400;
  opacity: 1;
  border-bottom: 2px solid #DBB972;
}

.salons .gallery-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  margin-left: 60px;
  overflow: hidden;
}

.salons .gallery-content img {
  width: 322px;
  height: 227px;
  margin: 6px;
}

.salons .gallery-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.salons .column-1 {
  margin-top: -6px;
  margin-left: -6px;
  margin-bottom: -6px;
}

.salons .column-2 {
  margin-top: -6px;
  margin-right: -6px;
  margin-bottom: -6px;
}

/*
.slider_container {
	width: 300px;
	height: 430px;
	margin:30px auto;
	border: 5px solid #410d63;
	position: relative;
   }

.slider-row {
	width: 300px;
	height: 430px;
	position: relative;
	overflow: hidden;
}

.slider-row img {
	width: 300px;
	height: 430px;
	position: absolute;
	opacity: 1;
	transition: all ease 0.5s;
}


.btns {
	display: flex;
	left: 37%;
	position: absolute;
	margin-bottom: 100px;
	

}

.left-btn {
background-image: url(img/w128h1281338911640directionalleft.png);
height: 28px;
width: 28px;
background-size: contain;
margin-left:50px ;
}

.right-btn {
	background-image: url(img/right.png);
	 height: 28px;
	 width: 28px;
	 background-size: contain;
	 margin-left: 200px;
}


.slider-row .hidden {
	opacity: 0;
}
*/
.safety {
  padding-top: 65px;
  text-align: center;
}

.safety-header {
  position: relative;
}

.safety-header::after {
  position: absolute;
  content: "";
  background-image: url(../img/decorative-dots.svg);
  width: 31px;
  height: 5px;
  top: 77px;
  left: 554px;
}

.safety-text {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-weight: 300;
  opacity: 0.8;
  width: 500px;
  height: 52px;
  margin: 57px auto 0;
}

.safety .slider-container {
  text-align: left;
  width: 1137px;
  height: 572px;
  margin-top: 28px;
  position: relative;
}

.safety .slider-container .slick-dots {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  bottom: -30px;
  left: 48px;
}

.safety .slider-container .slick-dots li {
  list-style: none;
  margin: 0 5px;
  width: 6px;
}

.safety .slider-container .slick-dots li button {
  font-size: 0;
  border: 0;
  outline: none;
  border-radius: 50%;
  height: 6px;
  width: 6px;
  background-color: #AFAFAF;
  opacity: 0.3;
  padding: 0;
}

.safety .slider-container .slick-dots li button:hover, .safety .slider-container .slick-dots li button :focus {
  opacity: 0.5;
}

.safety .slider-container .slick-dots li.slick-active button {
  background-color: #DBB972;
  opacity: 1;
  outline: none;
}

.safety .slider-container .slick-prev {
  background-color: #FFFFFF;
  position: relative;
  width: 55px;
  height: 55px;
  opacity: 1;
  font-size: 0;
  outline: 0;
  border: 1px solid #f8f8f8;
  top: 572px;
  left: 1030px;
  z-index: 1;
}

.safety .slider-container .slick-prev:hover::before {
  opacity: 1;
}

.safety .slider-container .slick-prev:focus::before {
  opacity: 1;
}

.safety .slider-container .slick-prev::before {
  content: "";
  width: 55px;
  height: 55px;
  background-image: url(../img/arrow-backward-black.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
}

.safety .slider-container .slick-next {
  background-color: #FFFFFF;
  width: 55px;
  height: 55px;
  position: relative;
  opacity: 1;
  font-size: 0;
  outline: 0;
  border: 1px solid #f8f8f8;
  top: -55px;
  left: 1082px;
  z-index: 1;
}

.safety .slider-container .slick-next:hover::before {
  opacity: 1;
}

.safety .slider-container .slick-next:focus::before {
  opacity: 1;
}

.safety .slider-container .slick-next::before {
  content: "";
  width: 55px;
  height: 55px;
  background-image: url(../img/arrow-forward_black.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
}

.safety .slider-item {
  width: 1137px;
  height: 572px;
  position: relative;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.safety .item-subtitle {
  position: absolute;
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-weight: normal;
  font-size: 12px;
  color: #DBB972;
  text-transform: uppercase;
  top: 52px;
  left: 54px;
}

.safety .item-title {
  position: relative;
  top: 28px;
  left: 51px;
  font-family: 'ALS Alumna', sans-serif;
  color: #FFFFFF;
  font-size: 42px;
  line-height: 1.25;
}

.safety .item-title::after {
  position: absolute;
  content: "";
  background-image: url(../img/three_grey_dots.svg);
  width: 31px;
  height: 5px;
  top: 88px;
  left: 2px;
}

.safety .item-text {
  width: 337px;
  height: 109px;
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-weight: 100;
  color: #FFFFFF;
  opacity: 0.7;
  margin-top: 96px;
  margin-left: 51px;
}

.safety .item-btn {
  position: absolute;
  margin-top: 90px;
  margin-left: 46px;
}

.safety .item-1 {
  background-image: url(../img/safety-slider1.jpg);
  width: 1137px;
  height: 572px;
}

.safety .item-2 {
  background-image: url(../img/safety-slider2.jpg);
  width: 1137px;
  height: 572px;
}

.safety .item-3 {
  background-image: url(../img/safety-slider3.jpg);
  width: 1137px;
  height: 572px;
}

.safety .item-4 {
  background-image: url(../img/safety-slider4.jpg);
  width: 1137px;
  height: 572px;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-list {
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */