@import "normalize.css";

@font-face {
	font-family: 'ALS Alumna';
	src: url('../fonts/ALS_Alumna.eot');
	src: local('☺'), url('../fonts/ALS_Alumna.woff') format('woff'), url('../fonts/ALS_Alumna.ttf') format('truetype'), url('../fonts/ALS_Alumna.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Museo Sans Cyrl';
	src: url('../fonts/MuseoSansCyrl.eot');
	src: local('☺'), url('../fonts/MuseoSansCyrl.woff') format('woff'), url('../fonts/MuseoSansCyrl.ttf') format('truetype'), url('../fonts/MuseoSansCyrl.svg') format('svg');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Museo Sans Cyrl';
	src: url('../fonts/museo_sans_cyrl_300.eot');
	src: local('☺'), url('../fonts/museo_sans_cyrl_300.woff') format('woff'), url('../fonts/museo_sans_cyrl_300.ttf') format('truetype'), url('../fonts/museo_sans_cyrl_300.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Museo Sans Cyrl';
	src: url('../fonts/museo_sans_cyrl_500.eot');
	src: local('☺'), url('../fonts/museo_sans_cyrl_500.woff') format('woff'), url('../fonts/museo_sans_cyrl_500.ttf') format('truetype'), url('../fonts/museo_sans_cyrl_500.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Museo Sans Cyrl';
	src: url('../fonts/MuseoSansCyrl_700.eot');
	src: local('☺'), url('../fonts/MuseoSansCyrl_700.woff') format('woff'), url('../fonts/MuseoSansCyrl_700.ttf') format('truetype'), url('../fonts/MuseoSansCyrl_700.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Museo Sans Cyrl';
	src: url('../fonts/MuseoSansCyrl_900.eot');
	src: local('☺'), url('../fonts/MuseoSansCyrl_900.woff') format('woff'), url('../fonts/MuseoSansCyrl_900.ttf') format('truetype'), url('../fonts/MuseoSansCyrl_900.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}


/*==Mixins==*/

@mixin font-alumna {
    font-family: 'ALS Alumna', sans-serif;
}

@mixin font-museo {
    font-family: 'Museo Sans Cyrl', sans-serif;
}


/*==Variables==*/
$gold: #DBB972;



*, *::before, *::after{
box-sizing: border-box;
}

body{
font-family: 'ALS Alumna', sans-serif;
font-family: 'Museo Sans Cyrl', sans-serif;
font-size: 16px;
margin: 0;
padding: 0;
background-color: #ffffff;
color: #000000;
}

ul,li {
	list-style: none;
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}

.top-line{
	top: 0;
	height: 100px;
	width: 100%;
	position: fixed;
	background-color: #FFFFFF;
	@include font-museo;
	z-index: 100;

	&__content{
		display: flex;
		width: 86%;
		margin: 0 auto;
	}
}

.nav-menu {
	margin-left: 12px;

&__list{
display: flex;
justify-content: space-between;
margin: 40px 37px auto;
width: 373px;
height: 23px;
line-height: 19px;

a{
  color: rgba($color: #000000, $alpha: 0.7);

  &:hover{
	color: $gold;
   }
 }
}
}

.contact-menu{
	display: flex;
	margin: 27px 0px 28px 122px;
}

.contact-tel{
	padding: 13px 0 9px;
	height: 23px;
	width: 151px;
	color: #000000;
    position: relative;
	&::before{
	content: '';
	position: absolute;
	top: 15px;
	left: -20px;
	width: 13px;
	height: 13px;
	background-image: url(../img/tel.svg);
	}
}

.contact-whatsapp{
	height: 23px;
	width: 23px;
	background-image: url(../img/whatsapp.svg);
	margin-top: 10px;
}

.contact-telegram{
	height: 23px;
	width: 23px;
	background-image: url(../img/telegram.svg);
	margin-left: 12px;
	margin-top: 10px;
}

.btn-wrap{
	position: relative;
}

.signup-btn{
display: inline-block;
outline: none;
width: 123px;
height: 45px;
position: absolute;
top: 25px;
right: -140px;
border: 0;
background: linear-gradient(257.69deg, #DBB972 14.36%, #F3D28E 51.49%, #DBB972 91.31%);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
border-radius: 22.5px;
font-weight: 600;
font-size: 15px;
line-height: 18px;
text-align: center;
color: #FFFFFF;
transition: .2s ease;

&:hover,:focus{
background: linear-gradient(80deg, #F3D28E 14.36%,#DBB972 51.49%, #DBB972 91.31%); ;
}

&:active{
	box-shadow: inset  0px 4px 4px -1px rgba(0, 0, 0, 0.1);
 }
}

.menu-icon-wrapper {
	position: absolute;
	  width: 16px;
	  height: 16px;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  margin-top: 38px;
	  margin-left: 165px;
	}


.menu-icon {
		position: relative;
		width: 16px;
		height: 2px;
		background-color: #000000;
	  }
	  
	  .menu-icon::before {
		position: absolute;
		left: 0;
		top: -5px;
		content: '';
		width: 16px;
		height: 2px;
		background-color: #000000;
		transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
	  
	  }
	  
	  .menu-icon::after {
		position: absolute;
		left: 0;
		top: 5px;
		content: '';
		width: 16px;
		height: 2px;
		background-color: #000000;
		transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
	  
	  }
	  
	  .menu-icon.menu-icon-active {
		background-color: transparent;
	  }
	  
	  .menu-icon.menu-icon-active::before {
		transform: rotate(45deg);
		top: 0;
		transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
	  }
	  
	  .menu-icon.menu-icon-active::after {
		transform: rotate(-45deg);
		top: 0;
		transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
	  }
	  

.main-screen{
	margin-top: 100px;
	height: 796px;
	background-image: url(../img/header-bg.jpg);
	background-size: cover;
}

.main__big-txt{
	@include font-alumna;
position: absolute;
width: 688px;
height: 190px;
left: calc(50% - 688px/2 - 226px);
top: 229px;
font-size: 62px;
line-height: 71px;
color: #FFFFFF;

	span{
		color: $gold;
	}

}

.invisible{
	visibility: hidden;
}